<div class="container">

	<footer>
		<hr class="info" /> @*ToDo: This doesn't work*@
		<div class="row">

			<div class="col-sm">
					<small><sup>&copy; @DateTime.Now.Year - AEAIJ, a <a href="http://en.wikipedia.org/wiki/Religious_corporation">Religious Corporation Sole</a></sup></small>
			</div>

			<div class="col-sm">
				<small class="float-right"><sup>MyHebrewBible is the creation and intellectual property of John Marsing</sup></small>
			</div>
		</div>

	</footer>

</div>


@*
	<div class="d-print-none">
		<small><sup>&copy; @DateTime.Now.Year - AEAIJ, a <a href="http://en.wikipedia.org/wiki/Religious_corporation">Religious Corporation Sole</a></sup></small>
	</div>
	<div class="d-print-block">
		<small><sup>&copy; @DateTime.Now.Year - AEAIJ, a Religious Corporation Sole</sup></small>
	</div>


*@